body {
  width: 180px;
  background: #303443;
  color: white;
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: white;
  color: black;
  padding: 5px 10px 5px 10px;
  border: solid 1px #aaaaaa;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.inline-block {
  display: inline-block;
}

.d-none {
  display: none;
}

.keys {
  display: flex;
  gap: 1px;
}

.key {
  padding: 1px 2px 1px 2px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  border: solid 1px #cccccc;
  border-bottom: solid 3px #999999;
  border-radius: 4px;
  min-width: 12px;
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
}
